.customClassMain {
    width: 100%;                
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;            
}
h1 {
    font-weight: bold;
}
.drum-pad {
    font-weight: bold;
    width: 150px;
    height: 150px;
}
#drum-pad-Q, #drum-pad-W, #drum-pad-E, #drum-pad-A, #drum-pad-S, #drum-pad-D, #drum-pad-Z, #drum-pad-X, #drum-pad-C {
    font-size: 28pt;
}